<!doctype html>
<html>

<head>
    <title>Seoul Subway Poems</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <!-- <link rel="icon" href="images/tab_icon.svg"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="fonts/CooperHewitt/stylesheet.css"> -->
    <link href="/poems_style.css" rel="stylesheet" type="text/css">
    <!-- <link href="style_lovers_magazine.css" rel="stylesheet" type="text/css"> -->
</head>

<body class="avenir">
    <article class="avenir">
        <div class="db w-100 tc flex flex-column">
            <h1>Seoul Subway Poems</h1>
        </div>
    </article>

    <section class="fl pt5 center w-100">
        <div class="center w-70 pv2">
            <div class="fl tl fw3 f5 pr2-ns w-100 w-75-ns">
                {{content}}
            </div>
            <div class="fl tr fw3 f5 pl2-ns w-100 w-25-ns">
                <p> Winter 2022 </p>
            </div>
        </div>
        <div class= "center w-70 pv2">
            <div class="lh-solid fl tl fw3 f5 pr2-ns w-100 w-75-ns">
                <p> 서울 지하철에서 모은 시들입니다. <br>
                    이것은 한국어를 계속하기 위한 연습입니다. <br>
                    실수가 발견되거나 더 나은 번역을 위한 제안이 있으면 알려주세요. <p>
            </div>
            <div class="fl tr fw3 f5 pl2-ns w-100 w-25-ns">
                <p> 겨울 2022 </p>
            </div>
        </div>
    </section>

    <section class="fl center w-100">
        <div class="center pv5 ph2-ns w-100 w-80-ns">
        {% include poem_list.html collection="anthology" sort_by="id" type="toc" %}
        </div>
        <div class="center pv3 ph2-ns w-100 w-80-ns">
        {% include poem_list.html collection="anthology" sort_by="id" %}
        </div>
    </section>
</body>

<!-- Table of contents -->